<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="E-commerce">
<listeners>
<listener class-name="utility.ExtentTestNgListeners"></listener>
</listeners>
	<test thread-count="5" name="Regression-Testing">

		<parameter name="browser" value="chrome"></parameter>

		<classes>
			<class name="pageTest.ProductPageTest" />
			<class name="pageTest.LoginPageTest" />
			<class name="pageTest.CheckOutOverviewPageTest" />
			<class name="pageTest.CartPageTest" />
			<class name="pageTest.ConfirmationPageTest" />
			<class name="pageTest.CheckOutPageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
